{% extends "base.html" %}
{% block app_content %}

        <div class="container" style="width: 80%;">

        
        {% if error %}
        <p><strong> Error: </strong></p> {{error}}
        {% endif %}
        

         above row
        <div class="row">
            in row
                <div class="well">
                    in well

                                <iframe 
                                  noresize='noresize' 
                                  style='position: absolute; background: transparent; width: 50%; height:100%;'
                                  align='middle' 
                                  src={{ dash_url }}
                                  frameborder="0">
                                </iframe>

                below graph                
                </div>
        below graph
        </div>    

        </div>

{% endblock %}
